.userFullname {
  color: white;
  font-weight: bold;
}

.userFullname:hover {
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) scale(3);
  cursor: pointer;
}

.class-test {
  color: greenyellow;
  font-weight: bold;
}