* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  background-color: cornflowerblue;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.heartIcon * {
  color: red;
}

.reactIcon * {
  fill: #616bfb;
}