body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

h1, p {
  color: yellow;
  position: relative;
}

.dark_color {
  background-color: #ddd;
}

.dark_color h1, .dark_color p {
  color: #000;
}